.layout {
    color: var(--txt-color);
}

.layout__content {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
    transition:all 500ms;
    transition-timing-function: ease-in-out;
}
.layout__content_second {
    padding-left: 0;
}

.layout__content-main {
    padding: 30px;
}
